Flask==1.0.2
Flask_SQLAlchemy==2.3.2
Flask_BabelEx==0.9.3
Flask_Login==0.4.1
SQLAlchemy==1.1.9
Flask_Bootstrap==3.3.7.1
xmlrunner==1.7.7
Flask_Admin==1.5.3
Flask_Script==2.0.6
Flask_Migrate==2.2.1
alembic==1.0.0
