{% extends 'blog/base.html' %} 

{% set active = "blog" %}

{% block content %}

<div id="fh5co-main">
        <div class="fh5co-narrow-content">
            <h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">最近文章</h2>
            <div class="row row-bottom-padded-md">
                <div class="col-md-3 col-sm-6 col-padding animate-box" data-animate-effect="fadeInLeft">
                    <div class="blog-entry">
                        <a href="#" class="blog-img"><img src="/static/images/img-1.jpg" class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"></a>
                        <div class="desc">
                            <h3><a href="#">她说</a></h3>
                            <span><small>by Admin </small> / <small> Web Design </small> / <small> <i class="icon-comment"></i> 14</small></span>
                            <!-- <p>Design must be functional and functionality must be translated into visual aesthetics</p> -->
                            <p>她静悄悄地来过            她慢慢带走沉默

                                只是最后的承诺                 还是没有带走了寂寞          
                                也是我们都没有错
                                </p>
                            <a href="#" class="lead">Read More <i class="icon-arrow-right3"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-padding animate-box" data-animate-effect="fadeInLeft">
                    <div class="blog-entry">
                        <a href="#" class="blog-img"><img src="/static/images/img-2.jpg" class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"></a>
                        <div class="desc">
                            <h3><a href="#">遥远的她</a></h3>
                            <span><small>by Admin </small> / <small> Web Design </small> / <small> <i class="icon-comment"></i> 14</small></span>
                            <!-- <p>Design must be functional and functionality must be translated into visual aesthetics</p> -->
                            <p>让晚风轻轻吹送了落霞
                                我已习惯在每个傍晚去想她
                                热情若没变那管它沧桑变化
                                </p>
                            <a href="#" class="lead">Read More <i class="icon-arrow-right3"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-padding animate-box" data-animate-effect="fadeInLeft">
                    <div class="blog-entry">
                        <a href="#" class="blog-img"><img src="/static/images/img-3.jpg" class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"></a>
                        <div class="desc">
                            <h3><a href="#">世界末日</a></h3>
                            <span><small>by Admin </small> / <small> Web Design </small> / <small> <i class="icon-comment"></i> 14</small></span>
                            <!-- <p>Design must be functional and functionality must be translated into visual aesthetics</p> -->
                            <p>全世界 好像只有我疲惫
                                无所谓 反正难过就敷衍走一回
                                但愿绝望和无奈远走高飞</p>
                            <a href="#" class="lead">Read More <i class="icon-arrow-right3"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-padding animate-box" data-animate-effect="fadeInLeft">
                    <div class="blog-entry">
                        <a href="#" class="blog-img"><img src="/static/images/img-4.jpg" class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"></a>
                        <div class="desc">
                            <h3><a href="#">安静</a></h3>
                            <span><small>by Admin </small> / <small> Web Design </small> / <small> <i class="icon-comment"></i> 14</small></span>
                            <!-- <p>Design must be functional and functionality must be translated into visual aesthetics</p> -->
                            <p>你已经远远离开 我也会慢慢走开  为什么我连分开都迁就着你 我真的没有天份 也是这没有办法</p>
                            <a href="#" class="lead">Read More <i class="icon-arrow-right3"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-padding animate-box" data-animate-effect="fadeInLeft">
                    <div class="blog-entry">
                        <a href="#" class="blog-img"><img src="/static/images/img-5.jpg" class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"></a>
                        <div class="desc">
                            <h3><a href="#">天黑黑</a></h3>
                            <span><small>by Admin </small> / <small> Web Design </small> / <small> <i class="icon-comment"></i> 14</small></span>
                            <!-- <p>Design must be functional and functionality must be translated into visual aesthetics</p> -->
                            <p>新鲜的歌 新鲜的念头
                                任性和冲动 无法控制的时候
                                我忘记 还有这样的歌</p>
                            <a href="#" class="lead">Read More <i class="icon-arrow-right3"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-padding animate-box" data-animate-effect="fadeInLeft">
                    <div class="blog-entry">
                        <a href="#" class="blog-img"><img src="/static/images/img-6.jpg" class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"></a>
                        <div class="desc">
                            <h3><a href="#">挪威的森林</a></h3>
                            <span><small>by Admin </small> / <small> Web Design </small> / <small> <i class="icon-comment"></i> 14</small></span>
                            <!-- <p>Design must be functional and functionality must be translated into visual aesthetics</p> -->
                            <p>你说真心总是可以从头

                                真爱总是可以长久
                                为何你的眼神还有孤独时的落寞</p>
                            <a href="#" class="lead">Read More <i class="icon-arrow-right3"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-padding animate-box" data-animate-effect="fadeInLeft">
                    <div class="blog-entry">
                        <a href="#" class="blog-img"><img src="/static/images/img-3.jpg" class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"></a>
                        <div class="desc">
                            <h3><a href="#">我离孤单几公里</a></h3>
                            <span><small>by Admin </small> / <small> Web Design </small> / <small> <i class="icon-comment"></i> 14</small></span>
                            <!-- <p>Design must be functional and functionality must be translated into visual aesthetics</p> -->
                            <p>我离孤单几公里
                                看着天对自己说
                                不要怕 往前走
                                爱已无话可说了
                                只想孤单想念你</p>
                            <a href="#" class="lead">Read More <i class="icon-arrow-right3"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-padding animate-box" data-animate-effect="fadeInLeft">
                    <div class="blog-entry">
                        <a href="#" class="blog-img"><img src="/static/images/img-4.jpg" class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"></a>
                        <div class="desc">
                            <h3><a href="#">身骑白马</a></h3>
                            <span><small>by Admin </small> / <small> Web Design </small> / <small> <i class="icon-comment"></i> 14</small></span>
                            <!-- <p>Design must be functional and functionality must be translated into visual aesthetics</p> -->
                            <p>我身骑白马 走三关 我改换素衣 回中原
                                放下西凉 无人管 我一心只想 王宝钏
                                水碾西风肚子两
                            </p>
                            <a href="#" class="lead">Read More <i class="icon-arrow-right3"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-padding animate-box" data-animate-effect="fadeInLeft">
                    <div class="blog-entry">
                        <a href="#" class="blog-img"><img src="/static/images/img-1.jpg" class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"></a>
                        <div class="desc">
                            <h3><a href="#">龙卷风</a></h3>
                            <span><small>by Admin </small> / <small> Web Design </small> / <small> <i class="icon-comment"></i> 14</small></span>
                            <!-- <p>Design must be functional and functionality must be translated into visual aesthetics</p> -->
                            <p>爱情来的太快就像龙卷风　
                                离不开暴风圈来不及逃
                                我不能再想 我不能再想</p>
                            <a href="#" class="lead">Read More <i class="icon-arrow-right3"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-padding animate-box" data-animate-effect="fadeInLeft">
                    <div class="blog-entry">
                        <a href="#" class="blog-img"><img src="/static/images/img-2.jpg" class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"></a>
                        <div class="desc">
                            <h3><a href="#">如果有来生</a></h3>
                            <span><small>by Admin </small> / <small> Web Design </small> / <small> <i class="icon-comment"></i> 14</small></span>
                            <!-- <p>Design must be functional and functionality must be translated into visual aesthetics</p> -->
                            <p>我们去大草原的湖边
                                等候鸟飞回来
                                等我们都长大了就生一个娃娃</p>
                            <a href="#" class="lead">Read More <i class="icon-arrow-right3"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-padding animate-box" data-animate-effect="fadeInLeft">
                    <div class="blog-entry">
                        <a href="#" class="blog-img"><img src="/static/images/img-3.jpg" class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"></a>
                        <div class="desc">
                            <h3><a href="#">你不是真正的快乐</a></h3>
                            <span><small>by Admin </small> / <small> Web Design </small> / <small> <i class="icon-comment"></i> 14</small></span>
                            <!-- <p>Design must be functional and functionality must be translated into visual aesthetics</p> -->
                            <p>密密麻麻深深浅浅的刀割

                                你不是真正的快乐
                                
                                你的笑只是
                                
                                你穿的保护色</p>
                            <a href="#" class="lead">Read More <i class="icon-arrow-right3"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-padding animate-box" data-animate-effect="fadeInLeft">
                    <div class="blog-entry">
                        <a href="#" class="blog-img"><img src="/static/images/img-4.jpg" class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"></a>
                        <div class="desc">
                            <h3><a href="#">春风十里</a></h3>
                            <span><small>by Admin </small> / <small> Web Design </small> / <small> <i class="icon-comment"></i> 14</small></span>
                            <!-- <p>Design must be functional and functionality must be translated into visual aesthetics</p> -->
                            <p>莫名的的情愫啊 请问 谁来将它带走呢
                                只好把岁月化成歌 留在山河</p>
                            <a href="#" class="lead">Read More <i class="icon-arrow-right3"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- <div id="get-in-touch">
            <div class="fh5co-narrow-content">
                <div class="row">
                    <div class="col-md-4 animate-box" data-animate-effect="fadeInLeft">
                        <h1 class="fh5co-heading-colored">Get in touch</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
                        <p class="fh5co-lead">Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                        <p><a href="#" class="btn btn-primary">Learn More</a></p>
                    </div>
                    
                </div>
            </div>
        </div> -->
    </div>
{% endblock %}
